<div class="navbar-wagon">
  <!-- Logo -->
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Home</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Ranking</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>

    <!-- Profile picture with dropdown list -->
  </div>
</div>
